ObjectField
{
    flex-grow: 1;
    flex-shrink: 1;
}


.aspid-unassigned-binders-auto-assign-button
{
    flex-shrink: 0;
    align-self: stretch;
    margin: 0;
    padding: 0 4px;
    width: 24px;
}

.aspid-unassigned-binders-previous-id
{
    flex-shrink: 1;
    align-self: center;
    margin-left: 4px;
    margin-right: 4px;
    -unity-font-style: bold-and-italic;
    color: rgb(255, 191, 0);
    overflow: hidden;
    text-overflow: ellipsis;
}
