[submodule "Aspid.MVMM.Generators"]
	path = Aspid.MVMM.Generators
	url = git@github.com:VPDPersonal/Aspid.MVMM.Generators.git
[submodule "Aspid.MVVM.Unity.Generators"]
	path = Aspid.MVVM.Unity.Generators
	url = git@github.com:VPDPersonal/Aspid.MVVM.Unity.Generators.git
[submodule "Aspid.MVVM.Analyzers"]
	path = Aspid.MVVM.Analyzers
	url = git@github.com:VPDPersonal/Aspid.MVVM.Analyzers.git
